body {
    font-family: sans-serif;
    margin: 20px;
    background-color: transparent;
    color: #f5f5f5;               /* 文字色もダークに */
}

#snow-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; /* クリック操作を邪魔しないように */
    z-index: 1; 
}
h1,
h2 {
    color: #f5f5f5;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: transparent;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

form {
    background-color: transparent;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    background-color: transparent;
    color: #fff;
    border: 1px solid #444;
    width: calc(100% - 22px);
    /* padding と border を考慮 */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

button {
    background-color: #222;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #444;
}
.calendar-container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 40px;
}


.calendar-table caption {
    font-weight: bold;
    font-size: 1.2em;
    padding: 12px 0 8px 0;
    color: #fff;
    background: #222;
    border-bottom: 1px solid #444;
}

.calendar-table th,
.calendar-table td{
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
}
.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("DarkSoul.jpg"); /* 画像ファイル名を指定 */
  background-size: cover;                  /* 画面全体に拡大 */
  background-position: center;             /* 中央寄せ */
  background-repeat: no-repeat;            /* 繰り返しなし */
  opacity: 0.8;
  z-index: -1;
}

.calendar-table th {
    background: #222;
    color: #fff;
    font-weight: bold;
    border-bottom: 1px solid #444;
}

.calendar-table td {
    background: #222;
    border: 1px solid #444;
    border-radius: 8px;
    margin: 2px;
    font-size: 1em;
    transition: background 0,2s;
    color: #fff;
}

.calendar-table td:not(:empty):hover{
    background: #333;
    cursor: pointer;
}

.calendar-table td:empty {
    background: transparent;
    border: none;
    cursor: default;
}
